<div class="container spacer">

  <header class="jumbotron subhead" id="overview">
    <div class="container">
      <h1 class="text-center">Ecole Pr&eacute;paratoire de N&eacute;beur</h1>
      <p class="lead text-center spacer">Archive des &eacute;l&egrave;ves</p>
    </div>
  </header>

  <div class="row">
    <div class="col-lg-12">
      <app-navbar></app-navbar>
    </div>
  </div>

</div>

<router-outlet>

</router-outlet>

<div class="row">
  <div class="col-lg-12">
    <app-footer></app-footer>
  </div>
</div>
